<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/StarGlobal/GitHub/Assignments/starhcm_assignments/src/test/java/com/github/amazon/tests/ChooseProducts.java">
        <classes>
            <class name="com.github.amazon.tests.ChooseProducts">
                <methods>
                    <include name="searchSelectCount"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>